*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: #4710c1;
    color: #fff;
    width: 100%;
    font-size: 22px;
    padding: 20px 0;
}

.text-control {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.text-control span {
    margin: 0 30px;
}

.text-control a {
    color: #4710c1;
    background: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 6px;
    padding: 7px 15px;
    border-radius: 20px;
}

.text-control a:hover{
    opacity: 80%;
}

.text-control a:active{
    opacity: 60%;
}

.background-img img{
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#sinopse h2{
    text-align: center;
    margin: 15px 0
}

.general-text{
    text-align: justify;
    line-height: 30px;
    padding: 10px 0;
}

#disponibilidade h2{
    text-align: center;
    margin: 10px 0 20px 0
}

#disponibilidade img{
    background-size: cover;
    width: 100%;
    max-width: 1024px;
}

.imagens-div p{
    margin: 10px 0 10px 0
}

.carrocel-img{
    display: flex;
    width: 100%;
    height: 250px;
    max-width: 1024px;
    overflow-x: scroll;
    
}

.carrocel-img img{
    margin: 0 30px 30px 0;
    box-shadow: 10px 10px 10px #939393;
}

footer{
    background-color: #4710c1;
    color: #fff;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
}